/web/app_dev.php
/app/config/parameters.yml
/app/config/*.crt
/app/config/*.key

*.orig
*.log
*.work.*

/phpunit.xml
/var/*.php
/var/*.cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets
tests/_output/*
src/FrontfaceBundle/tests/_output

/.idea
